

.text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-lg{
    font-size: 1.125rem;
    line-height: 1.5rem;
}
.text-base{
    font-size: 1rem;
    line-height: 1.25rem;
}

.text-md{
    font-size: 1rem;
    line-height: 1.25rem;
}
.text-sm{
    font-size: 0.875rem;
    line-height: 1rem;
}
.text-md{
    font-size: 0.75rem;
    line-height: 0.875rem;
}

/* Add this CSS in your stylesheet */
.selected-option {
    background-color: #e6f7ff; /* Change the background color to your preferred highlight color */
    border: 1px solid #1890ff; /* Add border to make it more noticeable */
    padding: 8px;
    border-radius: 4px;
    cursor: pointer; /* Add cursor pointer for better user interaction */
  }
  
  .option {
    /* Add any styles for unselected options here */
    /* For example, you can add a light background color */
    background-color: #f0f0f0;
    border: 1px solid #d9d9d9;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  